/* -- GENERAL --*/

header{
    background-color: #C7E15F;
}

h1{
  color: #c93063;
}

.project-name {
    color: #c93063;
}

.shortinfo-image {
    background-color: #C7E15F !important;
    height: 25px;
}

.shortinfo-image img{
   margin: auto;
   scale: 1;
   border-radius: 0px;
}

img {
  width: 100%;
  border-radius: 7px;
}

.photos{
  height:auto
}

.photo-grid{
  scale: 0.95;
 
}

.bottom-nav a:hover {
    color: #c93063;
}

/* --- RESPONSIVE DESIGN ---*/  

@media (max-width: 768px) {
  h1{
     font-size: clamp(2.5rem, 50vw, 7rem);
  }

  .shortinfo-image img{
    scale: 2;
  }
}


