/* -- GENERAL --*/

header{
    background-color: #C7E15F;
}

h1{
  color: #5D5FEF;
}

.project-name {
    color: #5D5FEF;
}

.shortinfo-image{
    background-color: #C7E15F !important;
}

.shortinfo-image img{
   margin: auto;
   scale: 1;
   border-radius: 0px;
}

.project-infos-grid{
    padding: 5vw;
    padding-top: 2vw;
    gap: 5vw;
}

img {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 7px;
}

.image-grid{
  scale: 0.95;
}

.bottom-nav a:hover {
    color: #5D5FEF;
}

/* --- RESPONSIVE DESIGN ---*/  

@media (max-width: 768px) {
  h1{
     font-size: clamp(2.5rem, 50vw, 7rem);
  }

  .shortinfo-image img{
    scale: 2;
  }

}


