/* -- GENERAL --*/

h1{
    color: #F178B6;
}

h4{
    color: #F178B6;
}

header{
    background-color: #5D5FEF;
}

.name{
     font-size: clamp(2.5rem, 100vw, 8rem) !important;
}

.project-infos-grid{
    padding: 5vw;
    gap: 5vw;
}

 .step-header h4{
    color: #F178B6;
}

.shortinfo-image{
    background-color: #5D5FEF;
}

.shortinfo-image img{
    margin: auto;
    scale: 0.7;
}

.split-image{
    border-color: #F178B6;
}

.step-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

.bottom-nav a:hover {
    color: #F178B6;
}

/* --- RESPONSIVE DESIGN ---*/  

@media (max-width: 768px) {
    h1{
        font-size: clamp(2.5vw, 12vw, 20vw);
    }

    .shortinfo-image img{
        scale: 1;
    }

    .stage3-split{
        margin: 0px;
    }

    .step4{
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
    }

    .stage2 {
    text-align: left;
}
}
