/* -- GENERAL --*/

.name{
    color: #c93063;
    font-size: 5vw;
}

h1{
  color: #c93063;   
}

h3{
    color: #c93063;
}

h4{
    color: #c93063;
}

header{
    background-color: #fe85fe;
}


.project-infos-grid{
    padding: 5vw;
    gap: 5vw;
}

.stage2 {
    text-align: right;
}

.stage4 {
    text-align: right;
}

.stage3,
.stage4 {
    flex-shrink: 0; /* verhindert, dass die Box zusammengedrückt wird */
}
.stage3 h4,
.stage4 h4 {
    white-space: nowrap; /* erzwingt einzeiligen Text */
}
.stage6{
    text-align: right;
}

.shortinfo-left{
    margin: auto;
}

.shortinfo-image{
    background-color: #fe85fe;
}

.shortinfo-image img{
    margin: auto;
    scale: 0.6;

}

.split-image{
    border-color: #F178B6;
    height: 100%;
    object-fit: fit;
}

.step3 h4{
    text-align: left;
}
/* .step3{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: center;
} */
.step3-image {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.step3-image img {
    width: 100%;
    height: auto;
    display: block;
}

.bottom-nav a:hover {
    color: #c93063;
}


/* --- RESPONSIVE DESIGN ADJUSTMENTS --- */

@media (max-width: 768px) {
    .step3 {
        flex-direction: column;
        align-items: flex-start;
        justify-content: unset;
    }

    .stage2, .stage4, .stage6 {
        text-align: left;
    }

    .shortinfo-image img {
        position: static;
        inset: unset;
        margin-top: 0;
        scale: unset;
        width: 100%;
        height: 100%;
        object-fit: contain;    /* ← ganzes Bild sichtbar, füllt Container */
        display: block;
    }

}


